html
  head
    meta(charset='utf-8')
    title Clinica Veterinária - BackOffice
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', media='screen', href='/styles/main.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='/scripts/data.js')
    script(src='/scripts/createObj.js')
    script(src='/scripts/consultas.js')
    script(src='/scripts/backoffice.js')
  body(onload="checkAdmin()")
    #wrapper.d-flex
      #sidebar-wrapper.hMenu.border-right
        .sidebar-heading.hMenu(style='text-align:center')
          img(src='/images/logo.png', width='95rem')
        .list-group.list-group-flush.vMenu
          a.list-group-item.list-group-item-action.bg-light(href='')
            i.fas.fa-home
            |  Home
          a.list-group-item.list-group-item-action.bg-light(href='noticias/')
            i.fas.fa-newspaper
            |  Gerir Notícias
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
          button#menu-toggle.btn.btn-light
            i.navbar-toggler-icon
          h4.navbar.navbar-expand Clinica Veterinária - BackOffice
          a(href='/') Voltar
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-3.mt-lg-0
              li.nav-item
                #nowTime
        .container-fluid
          h3(style='padding:5px;') Dashboard:
          hr
          .container
            .row(style='text-align:center;')
              .col-3(style='background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);border-radius:100px;')
                b N&uacute;mero de consultas de hoje, pagas e realizadas:
                br
                | #{querys.nConsultasPagasHoje}
              .col-1
              .col-3(style='background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);border-radius:100px;')
                b N&uacute;mero de consultas restantes hoje:
                br
                | #{querys.nConsultasRestantesHoje}
              .col-1
              .col-3(style='background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);;border-radius:100px;')
                b N&uacute;mero total de consultas:
                br
                |  #{querys.nConsultasTotais}
            hr
            .row(style='text-align:center;padding:10px')
              .col-5(style='background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);border-radius:100px')
                b N&uacute;mero de consultas pagas:
                br
                | #{querys.nConsultasPagas}
              .col-1
              .col-5(style='background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);border-radius:100px')
                b N&uacute;mero total de médicos:
                br
                | #{querys.nMedicos}
          hr
    script.


      $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
    script(src='scripts/main.js')
